.my-card {
  padding: 20px 0px 20px 0px;
  margin: 10px 10px 10px 0px;
  border-radius: 7px;
  background-color: white;

  .my-card-title {
    margin: 0;
    padding: 0px 20px 0px 30px;
    font-size: 20px;
    font-weight: 700;
    line-height: 18px;
  }

  .my-card-caret-down {
    margin-left: 20px;
  }

  .my-card-divider {
    border-top: 1px solid #e5e5e5;
  }

  .my-card-content {
    margin: 0;
    padding: 0px 20px 0px 30px;

    .my-card-content-row {
      width: 100%;
    }
  }
}

.my-no-padding-left {
  padding-left: 0px !important;
}
