$background: #f5f6fa;
$text: #9c9c9c;
$input-bg-color: #fff;
$input-text-color: #8181a5;
$button-bg-color: #7f8ff4;
$button-text-color: #fff;

.my-input-comment {
  display: inline-block;
  width: 100%;
  height: 80px;
  background: #eff2fe;
  color: $input-text-color;
  font-weight: 600;
  font-size: 17px;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.1);
  border: 0;
  border-radius: 0px 7px 0px 7px;
  outline: 0;
  padding: 22px 25px;
}

.my-input-comment-button {
  position: absolute;
  line-height: 20px; /* <- changed this */
  box-sizing: border-box; /* <- added this */
  background: transparent;
  border: 0;
  outline: 0;
  transition: all 200ms ease-in;
  cursor: pointer;

  &-primary {
    background: $button-bg-color;
    color: $button-text-color;
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
    padding: 12px 24px;

    &:hover {
      background: darken($button-bg-color, 4%);
    }

    &:active {
      background: $button-bg-color;
      box-shadow: inset 0 0 10px 2px rgba(0, 0, 0, 0.2);
    }
  }

  &-inside {
    margin-left: -105px;
    margin-top: 18px;
  }
}

//** form
