$primary: #3f8cff;
$secondary: #3f8cff;
$white: #fff;
$grey0: #606060;
$gray: #9b9b9b;
$gray2: #e5e5e5;

.my-form-group {
  width: 100% !important;
  position: relative;
  padding: 15px 0px 5px 0px;
  margin-top: 10px;
  width: 50%;
}

.my-form-field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 1px solid $gray2;
  outline: 0;
  font-size: 1.3rem;
  color: $grey0;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;

  &::placeholder {
    color: transparent;
  }

  &:placeholder-shown ~ .my-form-label {
    font-size: 1.3rem;
    cursor: text;
    top: 20px;
  }
}

.my-form-label {
  position: absolute;
  top: 0;
  display: block;
  transition: 0.2s;
  font-size: 1rem;
  color: $gray;
}

.my-form-field:focus {
  ~ .my-form-label {
    position: absolute;
    top: 0;
    display: block;
    transition: 0.2s;
    font-size: 1rem;
    color: $primary;
    font-weight: 500;
  }

  padding-bottom: 6px;
  font-weight: 500;
  border-width: 1px;
  border-image: linear-gradient(to right, $primary, $secondary);
  border-image-slice: 1;
}

/* reset input */
.my-form-field {
  &:required,
  &:invalid {
    box-shadow: none;
  }
}

.my-text-input-icon {
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  width: 13px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
