.my-step-progress {
  position: relative;
  padding-left: 45px;
  list-style: none;
  width: 100%;

  &::before {
    display: inline-block;
    content: "";
    position: absolute;
    top: 0;
    left: 14px;
    width: 10px;
    height: 100%;
    border-left: 2px solid white;
  }

  &-item {
    position: relative;

    &:not(:last-child) {
      padding-bottom: 20px;
    }

    &::before {
      margin-top: 8px;
      display: inline-block;
      content: "";
      position: absolute;
      left: -31px;
      height: 100%;
      width: 10px;
    }

    &::after {
      margin-top: 8px;
      content: "";
      display: inline-block;
      position: absolute;
      top: 0;
      left: -37px;
      width: 12px;
      height: 12px;
      border: 2px solid white;
      border-radius: 50%;
      background-color: white;
    }

    &.step {
      &::before {
        border-left: 2px solid #f0f0f3;
      }

      &:last-child {
        &::before {
          border-left: 2px solid white;
        }
      }

      &::after {
        padding-top: 10px;
        width: 19px;
        height: 18px;
        top: -4px;
        left: -40px;
        font-size: 14px;
        text-align: center;
        color: #f0f0f3;
        border: 3px solid #3f8cff;
        background-color: white;
      }
    }
  }

  .my-step-progress-label {
    font-size: 17px;
    line-height: 18px;
    font-weight: 500;
    display: block;

    .my-step-progress-label-time {
      position: absolute;
      right: 0px;
      font-size: 16px;
      line-height: 18px;
      font-weight: 400;
    }
  }

  .my-step-progress-sub-label {
    font-size: 13px;
    line-height: 15px;
    display: block;
  }
}
